@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
  --light-clr: #FFFFFF;
  --dark-clr: #130813;
  --main-clr: #D45FE6;
  font-size: 20px;
}

body {
  background-color: var(--dark-clr);
  color: var(--light-clr);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* display: grid;
  place-content: center; */
  height: 100dvh;

  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* <weight>: Use a value from 400 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

h1 {
  font-weight: 800;
  color: var(--main-clr);
  font-size: 6rem;
}

p {
  opacity: 0.75;

  b {
    color: var(--main-clr);
  }
}
